/* Custom page CSS
  -------------------------------------------------- */

  html {
    position: relative;
    height: 100%;
    min-height: 100%;
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
}

body {
    margin-bottom: 60px;
    color:white;
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
}

#hero {
    min-height: 80vh;
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body>main {
    /* margin to account for nav bar */
    margin-top: 85px;
    margin-bottom: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

body>.container {
    padding: 60px 15px 0px;
    border: solid;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.row>div {
    margin-bottom: 15px;
}

.content {
    min-height: 300px;
    background: #dbdfe5;
}

.content.bg-alt {
    background: #b4bac0;
}

.sidebar-top {
    min-height: 140px;
    background: #dbdfe7;
}

.sidebar-bottom {
    min-height: 145px;
    background: #7e8aa0;
    margin-bottom: -15px;
}

.sidebar,
.content {
    min-height: 300px;
}

.content-top {
    min-height: 160px;
    background: #b4bac0;
}

.content-bottom {
    min-height: 125px;
    background: #7e8aa0;
    margin-bottom: -15px;
}

.content-bottom.bg-alt {
    background: #9ca5b6;
}

.intro {
    background: #7e8aa0;
    min-height: 250px;
}

.section {
    min-height: 150px;
    background: #dbdfe5;
}

.section.bg-alt {
    background: #b4bac0;
}

@media (max-width: 991px) {
    .content-bottom {
        margin-bottom: 15px;
    }
    .content-bottom.bg-alt {
        margin-bottom: -15px;
    }
}

nav {
    background-color: #243B55;
}

main {
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
}

.homeText {
    font-family: modesto-open-shadow, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(195, 255, 0);
}

.homeBG {
    width: 100%;
    background: url(/IMG/GridBG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#minHeight {
    min-height: 60vh;
}

.minHeight {
    min-height: 80vh;
}